<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Course Tracker</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #4065ca;color:white">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <h4><img src="{{url_for('static', filename='favicon.ico')}}" alt="" width="40"> CourseTracker</h4>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color:white" href="#oink1">Search</a></li>
        <li><a style="color:white" href="#oink2">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center" style="background-color: #fff;">
  <br><img src="{{url_for('static', filename='a.png')}}" style="width:60%" alt="">
</div>
<p id="oink1" style="color:white">deez</p>
<!-- Second Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Search For A Course.</h3>
  <form action="/course69" method="post">
  <input name="ez" required style="color:black" type="text" placeholder='Search'>
  <button type="submit" class="btn btn-default btn-lg" style="border-radius:0px;font-size:15px;border:1px solid gray">
    <span class="glyphicon glyphicon-search"></span> Search
  </button><br><br>
  </form>
  <p><span style="font-weight:bold">What Happens:</span> When you click the search button, our website will look through the internet for the best courses for you. We will search the internet with your keyword on industry-leading education platforms, such as Coursera, udemy, and Linked-In Learning. Whatever courses we give you, are the best ones there are!</p>
  <p id="oink2" style="color:#1abc9c">deez</p>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-2 text-center" style="padding-bottom: 0%;">    
  <h3 id="oink2" class="margin">About Us</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>The company is a specialized search engine that helps people find online courses from various sources on the internet. They understand that finding the right course can be a daunting task, with so many options available and scattered across different platforms. Therefore, they aim to make the process easier by curating and organizing all the courses available on the internet into one centralized location.</p>
      <span style="font-size: 100px;color:#1abc9c" class="glyphicon glyphicon-search"></span>
    </div>
    <div class="col-sm-4"> 
      <p>
        The company's search engine has a user-friendly interface that allows users to search for courses based on their interests, career goals, skill level, and location. The search engine's algorithms crawl the web and pull information on courses from various educational platforms, including universities, colleges, e-learning websites, and other online learning resources.</p>
        <br><span style="font-size: 100px;color:#1abc9c" class="glyphicon glyphicon-user"></span>
    </div>
    <div class="col-sm-4"> 
      <p>       
        The company understands that quality is key when it comes to online courses. Therefore, they have a team of experts who evaluate courses based on their relevance, quality, and effectiveness in helping learners achieve their learning objectives. They also provide ratings and reviews from other users who have taken the courses, giving potential learners an idea of what to expect.
</p>
<span style="font-size: 100px;color:#1abc9c" class="glyphicon glyphicon-check"></span>
    </div>
  </div>
</div>
<img src="{{url_for('static', filename='2.png')}}" style="width:100%" alt="">
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Copyright 2023 Nikhil | All rights reserved</p> 
</footer>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".suss").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
</body>
</html>
